{% extends 'base.html' %}
{% load static %}

{% block titulo %} Inicio {% endblock titulo %}

{% block contenido %}

<div class="container h-100">
    <div class="carrousel-news">
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-3">Últimas noticias </h3>
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left text-white"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2"  role="button" data-slide="next">
                            <i class="fa fa-arrow-right text-white"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        {% for post in primeros %}
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="{{post.foto.url }}">
                                                <div class="card-body">
                                                    <h4 class="card-title">{{ post.titulo }}</h4>
                                                    <h6 class="card-title">{{ post.subtitulo }}</h6>
                                                    <p class="card-text">{{ post.contenido }}</p>
                                                    <a href="{% url 'post_detail' post.id %}"><small>Continuar leyendo...</small></a>        
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        {% for ult in ultimos %}
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280" src="{{ult.foto.url }}">
                                                <div class="card-body">
                                                    <h4 class="card-title">{{ ult.titulo }}</h4>
                                                    <h6 class="card-title">{{ ult.subtitulo }}</h6>
                                                    <p class="card-text">{{ ult.contenido }}</p>
                                                    <a href="{% url 'post_detail' ult.id %}"><small>Continuar leyendo...</small></a>        
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <div>
            <p>
             <h1>CAPACITACIONES</h1>
            </p> 
            <div class = "d-flex"> 
       
            {% for c in capacitacion %}
            <div class="m-5  card" style="width: 18rem;">
                 <img src="{{ c.foto.url }}" class="card-img-top" alt="imagen">
            <div class="card-body">
                <h5 class="card-title">{{ c.titulo }}</h5>
                    <p class="card-text">{{ c.contenido }}</p>
                    <a href="{% url 'capacitacion:capacitacion_detalles' c.id %}" class="btn btn-primary">seguir leyendo</a>
                </div>
            </div>
            {% endfor %}
            
        </div>

        <div id="ww_cd153b275d6f8"  class="my-4" v='1.20' loc='id' a='{"t":"responsive","lang":"es","ids":["wl6219"],"cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_tof":"7","sl_sot":"celsius","sl_ics":"one_a","font":"Arial"}'>Weather for the Following Location: <a href="https://2ua.org/arg/resistencia/map/" id="ww_cd153b275d6f8_u" target="_blank">Resistencia map, Argentina</a></div><script async src="https://srv1.weatherwidget.org/js/?id=ww_cd153b275d6f8"></script>
    </div>

</div>
{% endblock contenido %}