{% extends 'base.html' %}
{% load static %}

{% block titulo %} Inicio {% endblock titulo %}

{% block contenido %}


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categorías
    </a>
    <ul class="dropdown-menu">
      {% for categorias in categorias %}
      <li><a class="dropdown-item" href="#">{{ categoria.nombre }}</a></li>
      {% endfor %}
      <!--   <li><a class="dropdown-item" href="#">Categoría 2</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Categoría 3</a></li>-->
    </ul>
  </li>






{% endblock contenido %}