{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
<div class="container">
    <h1 class= "text.center">Post: {{ post.titulo }} </h1>

    <div class="text.center">

        <div class="row">
            <div class="col-md-6">
                <img src="{{ post.foto.url }}" class="img-fluid" alt="Imagen del post">
            </div>

        
            <div class="col-md-6">
                <p>{{ post.contenido }}</p>
            </div> 
            <a href="{% url 'post_list' %}" class="btn btn-primary">Volver</a>
            <hr>
            <div>
                <form action="{% url 'comment_create' post.id%}"  method="Post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit"class="btn btn-primary">Comentar</button>
                </form>
            </div>
        </div>
    </div> 
</div> 


{% endblock contenido %}