{% extends 'base.html' %}

{% block contenido %}



<section id="gallery">
    <div class="container">
      <div class="row">
        {%for post in categoria.posts.all %}
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="{{post.foto.url}}"  class="card-img-top my-4" alt="imagen del post">
            <div class="card-body">
              <h3 class="card-title">{{ post.titulo }}</h3>
              <h6 class="card-title">{{ post.subtitulo }}</h6>
              <p class="card-text">{{ post.contenido }}</p>
              <a href="{% url 'post_detail' post.id %}" class="btn btn-outline-success btn-sm">Leer más</a>
              <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
            </div>
          </div>
        </div>
          {% if request.user.is_authenticated %}
            {% if request.user == post.user %}
            <a class="btn btn-primary" href="{% url 'post_update' post.id %}">Editar Post</a>
            <a class="btn btn-danger" href="{% url 'post_delete' post.id %}">Borrar Post</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  




{%endblock%}

